attrs==18.2.0
autobahn==19.1.1
Automat==0.7.0
certifi==2018.11.29
constantly==15.1.0
dataclasses==0.6
dataclasses-json==0.2.1
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
marshmallow==3.0.0rc3
PyHamcrest==1.9.0
PyQt5==5.11.3
PyQt5-sip==4.19.13
pywin32==224
qt5reactor==0.5
six==1.12.0
Twisted==18.9.0
txaio==18.8.1
wincertstore==0.2
zope.interface==4.6.0
