* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

#SVGBoom, #SVGArm, #SVGBucket, #SVGLevel {
    fill: none;
    stroke: black;
    stroke-width: 1;
}

#root {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
}

#dialog {
    display: flex;
    align-items: center;
    flex-direction: column;
}   

#dialog h1 {
    margin: 4px;
    padding: 2px;

    font-size: 1.1em;
}

#dialog input {
    margin: 4px;
    padding: 2px;

    border: 1px solid rgb(220, 220, 220);
    text-align: center;
    border-radius: 4px;
}

#dialog button {
    margin: 4px;
    padding: 3px 6px;

    cursor: pointer;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 4px;
    background-color: rgb(240, 240, 240);
}

#dialog button:hover {
    background-color: rgb(230, 230, 230);
}

#wrapper {
    max-height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    background-color: blue;
}

#header {
    flex: 0 0 auto;
    background-color: green;
}

#container {
    flex: 1 0 auto;
    display: flex;
    align-items: stretch;
    flex-direction: row;

    background-color: red;
}

#telemetry {
    flex: 0 0 auto;
    background-color: purple;
}

#visuals {
    flex: 1 1 auto;
    background-color: orange;
}

#visuals svg {
    flex: 0 0 100%;
    background-color: yellow;
}